body{
    background-color: darkgrey;
}
h1{
    color: darkred;
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}
input{
    border: 5px double chocolate;
    color: hotpink;
}
div{
    border: 5px outset #d5fab5;
    background-color: #1b6e37c2;
    text-align: end;
}